.faqs {
    padding: 40px 0;
    position: relative;
}

.englishTitle {
    font-weight: 500;
    font-size: 1.563rem;
    display: block;
    text-align: center;
    margin-bottom: 0.75rem;
}

.greyTitle {
    font-weight: 500;
    font-size: 1.25rem;
    color: #707070;
    display: block;
    text-align: center;
    opacity: 70%;
}

.custAccordion {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-bottom: 20px;

    button {
        color: #171717;
        background-color: transparent;
    }

    p {
        color: #707070;
        font-size: 1rem;
    }
}

.contactUs {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 1.9rem;

    &_title {
        font-weight: 500;
        font-size: 1.1rem;

        color: #D03B37;
        margin-bottom: 1.25rem;
    }

    textarea {
        width: 100%;
        padding: 0.375rem 0.75rem;
        background-color: transparent;
        border: 1px solid #d03b37;
        border-radius: 0.25rem;
        height: auto;
        transition: all 0.3s ease-in-out;
        text-align: right;
        font-size: 0.9rem;
        font-weight: 400;
        height: 125px;
        resize: none;
    }

    textarea:focus+.form_group_label {
        opacity: 0;
        visibility: hidden;
    }

    textarea+.form_group_label {
        padding-top: 10px !important;
        padding-right: 20px !important;
    }

    .branchesSection_map_select {
        width: 100%;


        width: 100%;
        padding: 0.2rem 0.75rem 0.2rem 0;
        background-color: transparent;
        border: 1px solid #d03b37;
        border-radius: 0.25rem;
        height: auto;
        transition: all 0.3s ease-in-out;
        text-align: right;
        font-size: 0.9rem;
        font-weight: 400;

        .custom-select-wrapper {
            height: auto;
        }

        .custom-select {
            box-shadow: none;

            &:hover {
                box-shadow: none !important;
                border-color: none !important;

            }
        }




    }
}

