.topsection_News {
    margin-left: -.5rem;
    margin-right: -.5rem;
    display: flex;
    flex-wrap: wrap;

    h4 {
        color: $Maincolor;
    }

    .imagenews {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
        }
    }
}

.bottomsection_news {
    background-color: #ececec;
}
