.newcarsection {


    .Carbrand {
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16) !important;
        text-align: center;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        padding: 25px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 215px;
    }

    .carbrandtype {
        box-shadow: 0 3px 20px hsla(0, 0%, 9%, .1) !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        height: 100%;
        border-radius: 5px;
        height: 150px;


        @media (max-width:640px) {
            width: 150px;
            margin: 1rem auto 0;
        }
    }

}