/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/images
/public/attachments
/attachments
/public/upload
/upload
/public/uploads
/uploads
/assets
/frontend
/AdminControlArea
.htaaccess
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
node_modules
desktop.ini
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
