/* ====================================== _____________ Variables Styles _____________ ====================================== */
// start color//
$blueColor: #282A6B;
$pargraphColor: rgba(255, 255, 255, 0.7);
$whtColor: #fff;
$blkColor: #000;
$greyBg: #A1A6A9;
$DarkWhite: #D5C29C;

// end color//
$Maincolor:#d03b37;
// Start Bg Color//
$overlayBg: rgba($color: $blkColor, $alpha: .45);
// end Bg Color//

// Font Sizes //
$xsFont: .8rem; // 12.8px
$smFont: .85rem; //13.6px
$paragraphFont: .95rem; // 15.2px;
$mainFont: 1rem; // 16px;
$mdFont: 1.15rem; //18.4px
$lgFont: 1.25rem; // 20px;
$xlFont: 1.4rem; // 22.4px;
$xxlFont: 1.6rem; // 25.6px;
$xxxlFont: 1.8rem; // 28.8px;
$bannerTextFont: 2rem; // 32px;
$bannerHeadFont: 2.5rem; // 40px;
// Font Sizes //

// Font Weight //
$fontLight: 300;
$fontRegular: normal;
$fontBold: bold;
// Font Weight //

// Transition //
$fsTransition: all .2s ease-in-out;
$transition: all .3s ease-in-out;
$slTransition: all .3s ease-in-out;
// Transition //

// Fonts Family //
$englishFont: 'GE SS Two';
$arabicFont: 'GE SS Two';
$titleFont: 'GE SS Two';
// Fonts Family //
/* ====================================== _____________ Variables Styles _____________ ====================================== */