.link_li {
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    display: inline-flex;
}

.link_li::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #dc2626;
    transition: width 0.3s ease;
}

.link_li:hover {
    color: #dc2626;
}

.link_li:hover::after {
    width: 60%;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 0.5rem 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
}

@media (min-width: 1024px) {
    .bottom solebar {
        display: none;
    }
}

.bottom-bar-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-bar-box {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.bottom-bar-button {
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
}

.bottom-bar-icon {
    width: 2rem;
    height: 2rem;
    stroke: currentColor;
}

.bottom-bar-box.active .bottom-bar-button {
    background: #fff;
    color: #d03b37;
    border-radius: 50%;
    box-shadow: 0 7px 4px 1px rgba(0, 0, 0, 0.16) !important;
    position: absolute;
    top: -35px;
    transform: scale(1.3);
}

/* Sidebar Styles */
.asidee {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 16rem;
    /* 64 in Tailwind */
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.asidee.open {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.overlay.open {
    display: block;
}


/* Sidebar Styles */
.sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 105;
    padding: 20px 0 50px;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
}

.sidebar.open {
    right: 0;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 104;
    display: none;
}

.sidebar-overlay.open {
    display: block;
}

.sidebar-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-profile-img {
    width: 80px;
    height: 80px;
    margin: 0 auto 1.25rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    @media (max-width: 768px) {
          width: 60px;
        height: 60px;
    }

}

.sidebar-profile h5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.auth-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid #d1d5db;
}

.auth-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.sidebar-items {
    padding: 25px 0;
}

.sidebar-items-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.sidebar-item {
    width: 50%;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

.sidebar-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
    height: 100%;
}

.sidebar-item-icon {
    margin: 0 auto 1.25rem;
    color: #d03b37;
}

.sidebar-item-icon svg {
    width: 100%;
    height: 70px;
}

.sidebar-item-label {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

@media (min-width: 1024px) {

    .sidebar,
    .sidebar-overlay {
        display: none;
    }

    .sidebar-overlay.open {
        display: none;
    }

}

@media (min-width: 1024px) {
    .lg\:hidden {
        display: none !important;
    }
}

.secBgColor {
    background-color: #232323 !important;
}

nav {
    .form_group {
        position: relative;
        display: flex;
        align-items: center;
    }

    a {
        margin-bottom: 0;
    }

    .form_group_select {
        appearance: none;
        background-image: url(https://eltawkeel-git-master-iconcreations.vercel.app/global/chevron-down-white.svg);
        background-repeat: no-repeat;
        background-position: left .75rem center;
        background-size: 16px 12px;
        width: 100%;
        // padding: .375rem 1.5rem;
        background-color: transparent;
        border-radius: .25rem;
        transition: all .3s ease-in-out;
        text-align: right;
        font-size: .9rem;
        font-weight: 400;
        color: white;
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        border: 1px solid #d03b37;
        height: auto;
    }

    .form_group_select option {
        color: #232323;
        font-size: .9rem;
    }

    .form_group_control {
        width: 100%;
        padding: .375rem 1.75rem;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: .25rem;
        transition: all .3s ease-in-out;
        text-align: right;
        font-size: .9rem;
        font-weight: 400;
        direction: ltr;
        color: white;
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        border: 1px solid #d03b37;
        height: auto;
    }

    .form_group_control:focus+.form_group_label {
        top: 0.05rem;
        padding: 0;
        right: 1.5rem;
        font-size: 0.8rem;
        background-color: #232323 !important;
    }

    .form_group_label {
        color: white;
        position: absolute;
        margin: 0;
        padding: 0 1rem;
        transition: all .3s ease-in-out;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        pointer-events: none;
        background-color: transparent;
        font-size: .9rem;

        &.top {
            top: .05rem;
            padding: 0;
            right: 1.5rem;
            font-size: .8rem;
            background-color: transparent;

        }


    }


}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

// .whiteButton {
//     width: 100%;
//     padding: .375rem 2.75rem;
//     background-color: white;
//     border: 1px solid #ffffff;
//     border-radius: .25rem;
//     transition: all .3s ease-in-out;
//     text-align: center;
//     font-size: .9rem;
//     font-weight: 400;
//     color: #000000;
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .whiteButton:hover {
//     background-color: #f0f0f0;
//     transform: translateY(-1px);
// }

// .whiteButton span {
//     white-space: nowrap;
// }