/* ====================================== _____________ Global Styles _____________ ====================================== */
html {
    scroll-behavior: smooth;
}

// _____________________ Type your styles in all the website //
//__ Code here //
.leftsidebar {
    .vertical-nav-menu {
        background-color: #ececec;
        position: fixed;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);
        left: 75px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .16);
        padding: 2rem .75rem;
        border-radius: 50px
    }

    .nav-menu-item {
        transition: all .3s ease-in-out;
        position: relative;
        padding-top: .5rem;
        padding-bottom: 0rem;
        height: 100%
    }

    .nav-menu-item:first-child {
        padding-top: 0
    }

    .nav-menu-item:last-child {
        padding-bottom: 0
    }

    .nav-item-link {
        display: flex;
        justify-content: center
    }

    .nav-item-link svg path {
        transition: all .3s ease-in-out
    }

    .nav-item-label {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
        font-size: .6rem;
        color: #d03b37;
        text-align: center;
        opacity: 0;
        transition: all .3s ease-in-out;
        position: absolute;
        right: -100px;
        background: #ececec;
        padding: .1rem 1.25rem;
        border-radius: 15px;
        min-width: 120px
    }

    .nav-menu-item:hover,
    .nav-item-active {
        color: #d03b37
    }

    .nav-menu-item:hover svg path,
    .nav-item-active svg path {
        fill: #d03b37
    }

    .nav-menu-item:hover .nav-item-label,
    .nav-item-active .nav-item-label {
        opacity: 1;
        right: -150px
    }

    /* Responsive visibility */
    .hidden {
        display: none;
    }

    @media (min-width: 1024px) {
        .lg-block {
            display: block;
        }
    }

    .font-medium {
        font-weight: 500;
    }

    @media (min-width: 1024px) {
        .lg-text-sm {
            font-size: 0.875rem;
        }
    }

    @media (min-width: 1280px) {
        .xl-text-base {
            font-size: 1rem;
        }
    }
}

.custom-banner {
    padding: 0;
    width: 100%;
    height: 50vh;
    position: relative;

    span {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        img {
            height: 100%;
            width: 100%;
            background-size: cover;
            object-fit: cover;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
li {
    font-weight: 300;
}

.main-color {
    color: #d03b37;
}

.redButton {
    background-color: #d03b37;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    border: 1px solid #d03b37;
    padding: 0.3rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;

    &.bookNow {
        position: fixed;
        bottom: 15px;
        right: 15px;
        margin-bottom: 0;
        z-index: 9;
        text-align: center;

        @media (max-width: 1025px) {
            bottom: 70px;
        }
    }

    &:hover {

        color: #d03b37;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255/var(--tw-bg-opacity));

        svg path {
            fill: #d03b37;
        }
    }
}

.whiteButton {
    color: #d03b37;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .5rem 1em;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    font-size: 1rem;

    &:hover {
        background-color: #d03b37;
        color: white;
    }
}

.ads {
    background-color: #F8F8F8;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: #CFD0D1;



}

.largeImg {
    width: 50%;

    @media (max-width: 991px) {
        width: 90%;

    }



    margin: auto;

    p {
        margin-bottom: 0;
    }

    a {
        width: 100%;

        img {

            object-fit: cover;
            width: 100%;
        }
    }

}

.smallImg,
.smallImg2 {
    width: 16%;

    @media (max-width: 991px) {
        width: 40%;

    }

    @media (max-width: 768px) {
        height: 350px;
        width: 350px;

    }

    margin: auto;

    p {
        margin-bottom: 0;
    }

    a {
        width: 100%;

        img {

            object-fit: cover;
            width: 100%;
        }
    }

}

.smallImg2 {
    background-image: url("https://servedby.adfyre.co/getad.img/;libID=4850512");
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: auto;
    background-position: top;
}

.tallImg {


    @media (min-width: 992px) {
        position: absolute;
        left: 0;
        height: 100%;
        padding: 0 15px;
        top: 0;
    }

    @media (max-width: 991px) {
        height: auto;
        width: 100%;

        a {
            width: 100%;

            img {

                object-fit: cover;
                width: 100%;
            }
        }

    }






    // margin: auto;

    p {
        margin-bottom: 0;
    }

    // img {

    //     object-fit: cover;
    // }
}

#el-kashier-button {
    background-color: #d03b37 !important;
    position: absolute;
    top: 1240px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1280px) {
        top: 1240px;
    }

    @media (min-width: 1200px) and (max-width: 1280px) {
        top: 1300px;
    }

    @media (min-width: 1030px) and (max-width: 1200px) {
        top: 1290px;
    }

    @media (max-width: 991px) {
        top: 1140px;
    }


    @media (max-width: 768px) {
        top: 1100px;
    }

    @media (max-width: 640px) {
        top: 1250px;
    }

    // @media (max-width: 400px) {
    //     top: 1385px;
    // }
}

.bg-black-600 {
    background-color: #232323 !important;

}

.branchesSection_map {
    img {
        width: 25px;
    }
}

.serviceBanner {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.login_section {
    @media (max-width: 768px) {
        padding: 0 15px;

    }
}

input:-internal-autofill-selected {

    background-color: transparent !important;
}

.topsection_News {
    padding: 20px;
    width: 100%;
    margin: auto;
}

input:-webkit-autofill+.form_group_label {
    opacity: 0;
    visibility: hidden;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

.carPriceParent {
    margin: auto !important;
    width: 100% !important;

}

.emptyCar {
    color: #d03b37;
    font-size: 14px;
}

.cursor-not-allowed button {
    cursor: not-allowed;

    &:hover {
        border: 1px solid #ECECEC;
    }
}

table {
    tr:nth-child(odd) {
        background-color: #F3F3F3;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    .form-button {
        padding: 0.5rem 1rem !important;
        width: 145px !important;
        /* text-align: center; */
        margin-bottom: 0 !important;
    }
}




.btn {
    cursor: pointer;
    border: none;
    font-weight: 600;
    height: 40px;
    width: auto;
    user-select: none;
    outline: none;
    outline: none;
    transition: all ease-in 0.4s;
    background-color: #d03b37;
    display: flex;
    border-radius: 0.375rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #d03b37;
    padding: 0.25rem 2rem;
    font-size: 1rem;
    color: white;

    &:hover {
        background: white;
        color: #d03b37;
        border-color: #d03b37;
    }
}

.loading {
    background-color: transparent;
    border: 4px solid #d03c376c;
    border-top-color: #d03b37;
    user-select: none;
    font-size: 0;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    ;

    100% {
        transform: rotate(360deg)
    }

    ;
}



.e-with-fixed-bg {
    height: 350px;
    width: 100%;

    /* Important */
    position: relative;

    .bg-wrap {
        clip: rect(0, auto, auto, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .bg {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 53%;
        background-size: cover;
        background-position: center center;
        background-image: url("https://servedby.adfyre.co/getad.img/;libID=4850512");
        transform: translateZ(0);
        will-change: transform;
    }
}


.views {
    svg {
        path {
            fill: #707070;
        }
    }
}

.dubai {
    font-family: "Dubai";
}

.invoice {
    thead {
        tr {
            background-color: #4C4C4C !important;
        }
    }

    tbody {
        tr {
            background: #EFEFEF !important;

        }
    }


}
input, label, textarea, select {
    font-family: "Dubai" !important
}

/* ====================================== _____________ Global Styles _____________ ====================================== */