

@font-face {
    font-family: "GE SS Two";
    src: url("fonts/GESSTwoMedium-Medium.eot");
    src: url("fonts/GESSTwoMedium-Medium.eot") format("embedded-opentype"),url("fonts/GESSTwoMedium-Medium.woff2") format("woff2"),url("fonts/GESSTwoMedium-Medium.woff") format("woff"),url("fonts/GESSTwoMedium-Medium.ttf") format("truetype"),url("fonts/GESSTwoMedium-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "GE SS Two";
    src: url("fonts/GESSTwoLight-Light.eot");
    src: url("fonts/GESSTwoLight-Light.eot") format("embedded-opentype"),url("fonts/GESSTwoLight-Light.woff") format("woff2"),url("fonts/GESSTwoLight-Light.woff") format("woff"),url("fonts/GESSTwoLight-Light.ttf") format("truetype"),url("fonts/GESSTwoLight-Light.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "GE SS Two";
    src: url("fonts/GESSTwoBold-Bold.eot");
    src: url("fonts/GESSTwoBold-Bold.eot") format("embedded-opentype"),url("fonts/GESSTwoBold-Bold.woff") format("woff2"),url("fonts/GESSTwoBold-Bold.woff") format("woff"),url("fonts/GESSTwoBold-Bold.ttf") format("truetype"),url("fonts/GESSTwoBold-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}


// @font-face {
//     font-family: 'Nexa';
//     src: url('fonts/NexaRegular.eot');
//     src: url('fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),
//         url('fonts/NexaRegular.woff2') format('woff2'),
//         url('fonts/NexaRegular.woff') format('woff'),
//         url('fonts/NexaRegular.ttf') format('truetype'),
//         url('fonts/NexaRegular.svg#NexaRegular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Nexa';
//     src: url('fonts/Nexa-Light.eot');
//     src: url('fonts/Nexa-Light.eot?#iefix') format('embedded-opentype'),
//         url('fonts/Nexa-Light.woff2') format('woff2'),
//         url('fonts/Nexa-Light.woff') format('woff'),
//         url('fonts/Nexa-Light.ttf') format('truetype'),
//         url('fonts/Nexa-Light.svg#Nexa-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Dubai';
    src: url('fonts/Dubai-Bold.eot');
    src: url('fonts/Dubai-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Dubai-Bold.woff2') format('woff2'),
        url('fonts/Dubai-Bold.woff') format('woff'),
        url('fonts/Dubai-Bold.ttf') format('truetype'),
        url('fonts/Dubai-Bold.svg#Dubai-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('fonts/Dubai-Light.eot');
    src: url('fonts/Dubai-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Dubai-Light.woff2') format('woff2'),
        url('fonts/Dubai-Light.woff') format('woff'),
        url('fonts/Dubai-Light.ttf') format('truetype'),
        url('fonts/Dubai-Light.svg#Dubai-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('fonts/Dubai-Medium.eot');
    src: url('fonts/Dubai-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Dubai-Medium.woff2') format('woff2'),
        url('fonts/Dubai-Medium.woff') format('woff'),
        url('fonts/Dubai-Medium.ttf') format('truetype'),
        url('fonts/Dubai-Medium.svg#Dubai-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('fonts/Dubai-Regular.eot');
    src: url('fonts/Dubai-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Dubai-Regular.woff2') format('woff2'),
        url('fonts/Dubai-Regular.woff') format('woff'),
        url('fonts/Dubai-Regular.ttf') format('truetype'),
        url('fonts/Dubai-Regular.svg#Dubai-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

